.page 
{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px 200px var(--maxKeyboardHeight) 200px 200px;
    grid-column-gap: 0px;
    
    align-items: center;
    justify-items: center;
}

.siteTitle
{
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:2;
    grid-column-end:3;
}
.siteSlider
{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:2;
    grid-column-end:3;
}
.siteConfig
{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:3;
    grid-column-end:4;

}
.siteKeyboard
{
    grid-row-start: 3;
    grid-row-end: 4;

    grid-column-start:2;
    grid-column-end:3;

}
.siteMoreInfo
{
    grid-row-start: 4;
    grid-row-end: 5;

    grid-column-start:2;
    grid-column-end:3;

    text-align:center;
    display:block;
}
.siteFooter
{
    grid-row-start: 5;
    grid-row-end: 6;

    grid-column-start:2;
    grid-column-end:3;

    text-align:center;
    display:block;
}