
.area
{
    padding: 0;
    border-radius: var(--borderRounding);

    display: grid;

    /*transition: grid-template-columns 1.0s, grid-template-rows 1.0, column-gap 1.0s, row-gap 1.0s, opacity 1.0s, display 1.0s, visibility 1.0s;*/
}
.functionKeyArea
{
    grid-template-rows: var(--size1u);

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:1;
    grid-column-end:2;
}

.functionKeyArea100
{
    grid-template-columns: var(--size1u) var(--funtionEscSpacing) 
    var(--size1u) var(--size1u) var(--size1u) var(--size1u)
    var(--functionSectionSpacing)
    var(--size1u) var(--size1u) var(--size1u) var(--size1u)
    var(--functionSectionSpacing)
    var(--size1u) var(--size1u) var(--size1u) var(--size1u);
    transition: grid-template-columns 1s;
}

.functionKeyAreaCompact
{
    grid-template-columns: var(--size1u) 0px
    var(--size1u) var(--size1u) var(--size1u) var(--size1u)
    0px
    var(--size1u) var(--size1u) var(--size1u) var(--size1u)
    0px
    var(--size1u) var(--size1u) var(--size1u) var(--size1u);
    transition: grid-template-columns 1s;
}

.functionNavArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: var(--size1u);

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:2;
    grid-column-end:3;

}
.mediaArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:3;
    grid-column-end:4;
}

/* 
    Layouts for Main Area
*/
.mainArea
{
}
.mainArea100
{
    grid-template-rows: var(--size1u) var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-row-start: 2;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:2;
}

.mainArea40
{
    /* no number keys */
    grid-template-rows:  0px var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-row-start: 2;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:2;
}

.bottomRowModifiersContainer
{
    position: relative;
    top: 0;
    left: 0;
    width: calc(4.75 * var(--size1u));
    height: calc(1 * var(--size1u));
}

/* 
    Layouts for Nav Area 
*/
.upperNavArea
{
    /*grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: var(--size1u) var(--size1u) calc(var(--size1u) - var(--sizeSectionSpace));
*/
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:2;
    grid-column-end:3;
    
}
.upperNavContainer
{
    position: relative;
    top: 0;
    left: 0;
    width: calc(3 * var(--size1u));
    height: calc(3 * var(--size1u) - var(--sizeSectionSpace));
}
.lowerNavArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: var(--size1u) var(--size1u);

    grid-row-start: 3;
    grid-row-end: 4;

    grid-column-start:2;
    grid-column-end:3;
}
.tenKeyArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: var(--size1u) var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-row-start: 2;
    grid-row-end: 5;

    grid-column-start:3;
    grid-column-end:4;
}
