
.area
{
    display: table;
    padding: 0;
    border-radius: var(--borderRounding);

    display: grid;

    
    column-gap: calc( 2 * var(--sizeKeySpace) );
    row-gap: calc( 2 * var(--sizeKeySpace));
    padding: var(--sizeKeySpace);
    
    transition: grid-template-columns 1s, grid-template-rows 1s, column-gap 1s, row-gap 1s, opacity 1s, display 1s, visibility 1s;
}
.functionKeyArea
{
    grid-template-columns: var(--size1u) var(--funtionEscSpacing) 
    var(--size1u) var(--size1u) var(--size1u) var(--size1u)
    var(--functionSectionSpacing)
    var(--size1u) var(--size1u) var(--size1u) var(--size1u)
    var(--functionSectionSpacing)
    var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-template-rows: var(--size1u);

    /*background-color: darkblue;*/
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:1;
    grid-column-end:2;
}

.functionNavArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: var(--size1u);
     /* background-color: darkred;*/
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:2;
    grid-column-end:3;

}
.mediaArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u) var(--size1u);
     /* background-color: darkolivegreen;*/
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:3;
    grid-column-end:4;
}

/* 
    Layouts for Main Area
*/
.mainArea
{
}
.mainArea100
{
    /* separated function row */
    grid-template-rows: var(--size1u) var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-row-start: 2;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:2;
}
.mainArea75
{
    /* integrated function row */
}
.mainAreaCompact
{
    /* no function row */
    grid-template-rows: var(--size1u) var(--size1u) var(--size1u) var(--size1u) var(--size1u);


    grid-row-start: 2;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:2;
}
.mainArea40
{
    /* no number keys */
    grid-template-rows:  0px var(--size1u) var(--size1u) var(--size1u) var(--size1u);


    grid-row-start: 2;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:2;
}


/* 
    Layouts for Nav Area 
*/
.upperNavArea
{
   grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
   grid-template-rows: var(--size1u) var(--size1u);
     /* background-color: dimgray;*/

    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:2;
    grid-column-end:3;
}
.midNavArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: calc(var(--size1u) - (2 * var(--sizeSectionSpace)));
     /* background-color:pink;*/

    grid-row-start: 3;
    grid-row-end: 4;

    grid-column-start:2;
    grid-column-end:3;
}
.lowerNavArea
{
    grid-template-columns: var(--size1u) var(--size1u) var(--size1u);
    grid-template-rows: var(--size1u) var(--size1u);

   /* background-color: darkgoldenrod;*/
    grid-row-start: 4;
    grid-row-end: 5;

    grid-column-start:2;
    grid-column-end:3;
}
.tenKeyArea
{

     /* background-color: darkslategray;*/

    grid-template-columns: var(--size1u) var(--size1u) var(--size1u) var(--size1u);
    
    grid-template-rows: var(--size1u) var(--size1u) var(--size1u) var(--size1u) var(--size1u);

    grid-row-start: 2;
    grid-row-end: 5;

    grid-column-start:3;
    grid-column-end:4;
}
