:root{
/* sizes based on 1u = 18mm  and 4px = 1mm   */

--size1u: 54px; /*72*/
--size125u: 65px;
--size15u: 81px;
--size175u: 94.5px;
--size2u: 108px;
--size225u: 121.5px;
--size275u: 148.5px;
--size65u: 351px;

--borderRounding: 5px;
--sizeKeySpace: 1.5px; /* spacing between the keys */ /*2*/

--sizeVisualKeyBorder: 2px;
--sizeVisualKeyBorderSides: 9px; 

--sizeSectionSpace: 8px; /* standard spacing between sections on the board --TODO*/


--functionSectionSpacing: 24px; /* 2x func spacing + 1x Esc Spacing should add up to --size1u (actually slightly less based on margins) */
--funtionEscSpacing: 60px;

--widthMainArea: calc(  (15 * var(--size1u)) + (30 * var(--sizeKeySpace)));
--widthNavArea: calc(  (3 * var(--size1u)) + (6 * var(--sizeKeySpace)));
--widthTenKeyArea:calc(  (4 * var(--size1u)) + (8 * var(--sizeKeySpace)));
}
body {
    background-color: #2e2e2e
}

.keyboard
{
    border-radius: var(--borderRounding);
    position:absolute;
    left:20%;
    top:20%;
    display: grid;
    grid-template-columns: var(--widthMainArea) var(--widthNavArea) var(--widthTenKeyArea);

    background-color: #1e1e1e;

    
    column-gap: var(--sizeSectionSpace) ;
    row-gap: var(--sizeSectionSpace);

}
