:root{
/* sizes based on 1u = 18mm  and 4px = 1mm   */

--size1u: 72px;
--borderRounding: 5px;
--sizeKeySpace: 4px; /* spacing between the keys */ 

--sizeVisualKeyBorder: 2px;
--sizeVisualKeyBorderSides: 12px; 

}
body {
    background-color: #2e2e2e
}

.keyboard
{
    position:absolute;
    left:20%;
    top:20%;

}

.key {
    border-radius: var(--borderRounding);
    border: solid var(--sizeVisualKeyBorder) lightcyan;
    
    box-sizing:border-box;

    margin:var(--sizeKeySpace);
    
    display: inline-block;

    vertical-align:middle;
    text-align: center;

}

.emptySpace
{
    border-radius: var(--borderRounding);
    margin:var(--sizeKeySpace);
    display: inline-block;

    background-color: slategrey;
    vertical-align:middle;
    text-align: center;

}

.key:hover
{
    
    vertical-align:middle;
    text-align: center;

    
    border-left:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-right:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-top: solid var(--sizeVisualKeyBorderSides)lightseagreen;
    border-bottom: solid var(--sizeVisualKeyBorderSides)lightseagreen;
}

.keyText
{
    position:absolute;
    display: flex;
}
.size1u
{
    width: var(--size1u);
    height:  var(--size1u);
}

.lowerNavArea
{
    border-radius: var(--borderRounding);
    position:absolute;
    left:10vw;
    top:10vw;
    width: calc(  (3 * var(--size1u)) + (6 * var(--sizeKeySpace))   );
    height: calc(  (2 * var(--size1u)) + (4 * var(--sizeKeySpace))  );
    display: table;
    background-color: darkslategray;
    padding: 0;
}