
.key {
    border-radius: var(--borderRounding);
    border: solid var(--sizeVisualKeyBorder) lightcyan;

    box-sizing:border-box;

    /*margin:var(--sizeKeySpace);*/
    
    display: inline-block;

    vertical-align:middle;
    text-align: center;
    font-size: 10; 
    line-height: var(--size1u);
    font-family: 'Open Sans', sans-serif;

    transition: border 0.25s, line-height 0.25s, font-size 0.25s;
    /* thicker border option:
        
   
    */
}
.keyAlphaMainStyle
{
    color: gray;
}
.keyAlphaMainStyle:hover
{
    background-color: lightcyan;
}
.keyAlphaAltStyle
{
    color: darkslategray;
    background-color: lightyellow;
    border-left:solid var(--sizeVisualKeyBorderSides) beige;
    border-right:solid var(--sizeVisualKeyBorderSides) beige;
    border-top: solid var(--sizeVisualKeyBorderSides) lightgoldenrodyellow;
    border-bottom: solid var(--sizeVisualKeyBorderSides)lightgoldenrodyellow; 
}
.keyAlphaAltStyle:hover
{
    background-color: gainsboro;
    border: solid var(--sizeVisualKeyBorderSides) lightgray;
}
.keyModifierMainStyle
{
    color: gray;
}
.keyModifierMainStyle:hover
{
    background-color: lightcyan;
}
.keyModifierAltStyle
{
    color: darkslategray;
    background-color: lightcyan;
    border-left:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-right:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-top: solid var(--sizeVisualKeyBorderSides) paleturquoise;
    border-bottom: solid var(--sizeVisualKeyBorderSides)paleturquoise; 
}
.keyModifierAltStyle:hover
{
    background-color: gainsboro;
    border: solid var(--sizeVisualKeyBorderSides) lightgray;
}
.keyAltStyle
{
    font-size: 10; 
    line-height: calc(var(--size1u) - (2 * var(--sizeVisualKeyBorderSides)));
}


.gridTenKeyPlus
{
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start:4;
    grid-column-end:5;
}
.gridTenKeyEnter
{

    grid-row-start: 4;
    grid-row-end: 6;

    grid-column-start:4;
    grid-column-end:5;
}
.gridTenKeyZero
{
    grid-row-start: 5;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:3;
}

.backspace
{
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:14;
    grid-column-end:16;
}

.arrowKeysUp
{
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:2;
    grid-column-end:3;
}
.arrowKeysLeft
{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:1;
    grid-column-end:2;
}
.arrowKeysRight
{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:3;
    grid-column-end:4;
}
.arrowKeysDown
{
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start:2;
    grid-column-end:3;   
}


.keyRightFnCompact
{
    grid-row-start: 1;
    grid-row-end: 2;
    
    grid-column-start:7;
    grid-column-end:8;
}
.keyRightCtrlCompact
{
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:6;
    grid-column-end:7;
}
.keyRightWinCompact
{
    
}
