
.key {
    border-radius: var(--borderRounding);
    border: solid var(--sizeVisualKeyBorder) lightcyan;

    box-sizing:border-box;

    /*margin:var(--sizeKeySpace);*/
    
    display: inline-block;

    vertical-align:middle;
    text-align: center;
    font-size: 0; 
    line-height: var(--size1u);
    font-family: 'Open Sans', sans-serif;
    /* thicker border option:
        
    */
    /* border-left:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-right:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-top: solid var(--sizeVisualKeyBorderSides)lightseagreen;
    border-bottom: solid var(--sizeVisualKeyBorderSides)lightseagreen; */
}
.key:hover
{
   /* border-left:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-right:solid var(--sizeVisualKeyBorderSides) lightblue;
    border-top: solid var(--sizeVisualKeyBorderSides)lightseagreen;
    border-bottom: solid var(--sizeVisualKeyBorderSides)lightseagreen; */

    background-color: lightcyan;
    font-size: initial; 
}

.emptySpace
{
    border-radius: var(--borderRounding);
    display: inline-block;

    background-color: slategrey;
    vertical-align:middle;
    text-align: center;

    width: var(--size1u);
    height:  var(--size1u);
}

.gridTenKeyPlus
{
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start:4;
    grid-column-end:5;
}
.gridTenKeyEnter
{

    grid-row-start: 4;
    grid-row-end: 6;

    grid-column-start:4;
    grid-column-end:5;
}
.gridTenKeyZero
{
    grid-row-start: 5;
    grid-row-end: 6;

    grid-column-start:1;
    grid-column-end:3;
}

.backspace
{
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start:14;
    grid-column-end:16;
}