/* 
    This section requires the manual placement (absolute positioning) of several keys in the nav area, so that we can smoothly animate their movement around the grid.
*/

/* Page Down Key - Manual Placement */ 
.keyPageDown
{
    position: absolute;
    width: var(--size1u);
    height: var(--size1u);
    margin-top:  calc(1 * var(--size1uWithSpacing));
    margin-left: calc(2 * var(--size1uWithSpacing));
}
.keyPageDown100
{
    margin-top: calc(1 * var(--size1uWithSpacing));
    transition: margin 1s;
}
.keyPageDownCompact
{
    margin-top: calc(2 * var(--size1uWithSpacing));
    transition: margin 1s;
}


/* PageUp Key - Manual Placement */ 
.keyPageUp
{
    position: absolute;
    width: var(--size1u);
    height: var(--size1u);
    margin-top: 0;
    margin-left: calc(2 * var(--size1uWithSpacing));
}
.keyPageUp100
{
    margin-top: 0;
    transition: margin 1s;
}
.keyPageUpCompact
{
    margin-top: calc(1 * var(--size1uWithSpacing));;
    transition: margin 1s;
}


/* Home Key - Manual Placement */ 
.keyHome
{
    position: absolute;
    width: var(--size1u);
    height: var(--size1u);
    margin-top: 0;
    margin-left: calc(1 * var(--size1uWithSpacing));
}
.keyHome100
{
    margin-top: 0;
    margin-left: calc(1 * var(--size1uWithSpacing));
    transition: margin 1s;
}
.keyHomeCompact
{
    margin-left: calc(2 * var(--size1uWithSpacing));
    margin-top: 0;
    transition: margin 1s;
}

/* Page Down Key - Manual Placement */ 
.keyDelete
{
    position: absolute;
    width: var(--size1u);
    height: var(--size1u);
    margin-top: 0;
    margin-left:0;
}
.keyDelete100
{
    margin-top: 0;
    margin-left:0;
    transition: margin 1s;
}
.keyDeleteCompact
{
    margin-top: calc(3 * var(--size1uWithSpacing));
    margin-left: calc(2 * var(--size1uWithSpacing));
    transition: margin 1s;
}



/* End Key - Manual Placement */ 
.keyEnd
{
    position: absolute;
    width: var(--size1u);
    height: var(--size1u);
    margin-top: calc(1 * var(--size1uWithSpacing));
    margin-left: calc(1 * var(--size1uWithSpacing));
}
.keyEnd100
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: margin 1s, opacity 1s ease-in, display 1s ease-in, visibility 1s ease-in; 
}
.keyEndCompact
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: margin 1s, opacity 0.5s, display 0.5s, visibility 0.5s;
}

/* Insert Key - Manual Placement */ 
.keyInsert
{
    position: absolute;
    width: var(--size1u);
    height: var(--size1u);
    margin-top: calc(1 * var(--size1uWithSpacing));
    margin-left:0;
}
.keyInsert100
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: margin 1s, opacity 1s ease-in, display 1s ease-in, visibility 1s ease-in; 
}
.keyInsertCompact
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: margin 1s, opacity 0.5s, display 0.5s, visibility 0.5s;
}