/* 
    This section requires the manual placement (absolute positioning) of several keys in the nav area, so that we can smoothly animate their movement around the grid.
*/

.upperNavKey
{
    position: absolute;
    width: calc(var(--size1u) - 2 * var(--sizeKeySpace));
    height: calc(var(--size1u) - 2 * var(--sizeKeySpace));
}
/* Page Down Key - Manual Placement */ 
.keyPageDown
{
    top:  calc(1 * var(--size1u));
    left: calc(2 * var(--size1u));
}
.keyPageDown100
{
    top: calc(1 * var(--size1u));
    transition: top 1s, left 1s;
}
.keyPageDownCompact
{
    top: calc(2 * var(--size1u));
    transition: top 1s, left 1s;
}
.keyPageDown68
{
    top: calc(1 * var(--size1u));
    transition: top 1s, left 1s;
}


/* PageUp Key - Manual Placement */ 
.keyPageUp
{
    top: 0;
    left: calc(2 * var(--size1u));
}
.keyPageUp100
{
    top: 0;
    transition: top 1s, left 1s;
}
.keyPageUpCompact
{
    top: calc(1 * var(--size1u));
    transition: top 1s, left 1s;
}
.keyPageUp68
{
    top: 0;
    transition: top 1s, left 1s;
}


/* Home Key - Manual Placement */ 
.keyHome
{
    top: 0;
    left: calc(1 * var(--size1u));
}
.keyHome100
{
    top: 0;
    left: calc(1 * var(--size1u));   
     /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 1s ease-in, display 1s ease-in, visibility 1s ease-in; 
}
.keyHomeCompact
{
    left: calc(2 * var(--size1u));
    top: 0;    
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 1s ease-in, display 1s ease-in, visibility 1s ease-in; 
}

/* Page Down Key - Manual Placement */ 
.keyDelete
{
    top: 0;
    left:0;
}
.keyDelete100
{
    top: 0;
    left:0;
    transition: top 1s, left 1s;
}
.keyDeleteCompact
{
    top: calc(3 * var(--size1u));
    left: calc(2 * var(--size1u));
    transition: top 1s, left 1s;
}
.keyDelete68
{
    top: calc(1 * var(--size1u));
    left: calc(1 * var(--size1u));
    transition: top 1s, left 1s;
}
.keyDelete75
{
    top: calc(-1 * var(--size1u));
    left: calc(2 * var(--size1u));
    transition: top 1s, left 1s;
}



/* End Key - Manual Placement */ 
.keyEnd
{
    top: calc(1 * var(--size1u));
    left: calc(1 * var(--size1u));
}
.keyEnd100
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 1s ease-in, display 1s ease-in, visibility 1s ease-in; 
}
.keyEndCompact
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 0.5s, display 0.5s, visibility 0.5s;
}
.keyEnd75
{
    top: calc(3 * var(--size1u));
    left: calc(2 * var(--size1u));
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 0.5s, display 0.5s, visibility 0.5s;
}




/* Insert Key - Manual Placement */ 
.keyInsert
{
    top: calc(1 * var(--size1u));
    left:0;
}
.keyInsert100
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 1s ease-in, display 1s ease-in, visibility 1s ease-in; 
}
.keyInsert68
{
    top: 0;
    left: calc(1 * var(--size1u));
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 0.5s, display 0.5s, visibility 0.5s;
}
.keyInsertCompact
{
    /*todo - should be able to pull these out and let VisibleElement / HiddenElement handle it */
    transition: top 1s, left 1s, opacity 0.5s, display 0.5s, visibility 0.5s;
}